.list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    background-color: rgb(240, 243, 247);
    margin: 5px;
    padding: 0 10px;
    border-radius: 10px;
}

.list:hover {transform: translate(-10);}

.list div {
    display: flex;
    align-items: center;
}

.p {
    width: 20px;
    height: 20px;
    background-color: rgb(1, 3, 10);
    border-radius: 50%;
}

.users {
    margin: 4px;
    padding: 5px;
    color: rgb(0, 102, 255);
    /* font-size: 600; */
}

.online {
    /* position: fixed; */
    width: 12px;
    height: 12px;
    background-color: rgb(0, 199, 0);
    border-radius: 50%;
    /* text-align: center; */
}

.offline {
    /* position: fixed; */
    width: 12px;
    height: 12px;
    background-color: rgb(252, 0, 0);
    border-radius: 50%;
    text-align: center;
}


/* messgaes  */

.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.format-msg {
    max-width: 60%;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    position: relative;
    display: inline-block;
    word-break: break-word;
}

.sent {
    align-self: flex-end;
    background-color: #6cb3f7b6; 
    text-align: right;
}

.received {
    align-self: flex-start;
    background-color: #ffffff;
    border: 1px solid #ccc;
    text-align: left;
}


.msg-text {
    margin: 0;
    color: #333;
}

.msg-time {
    display: block;
    font-size: 11px;
    color: gray;
    text-align: right;
    margin-top: 5px;
}